In [1]:
import pandas as pd

In [2]:
file = '/Users/Lisa/_MLB_Prediction_capstone/cleaned_batting_df.csv'
file2 = '/Users/Lisa/_MLB_Prediction_capstone/cleaned_piching_df.csv'
file3 = '/Users/Lisa/_MLB_Prediction_capstone/cleaned_game_df.csv'

In [3]:
batting_df = pd.read_csv(file)
pitching_df = pd.read_csv(file2)
game_df = pd.read_csv(file3)

In [4]:
batting_df.drop('Unnamed: 0', axis=1, inplace=True)
pitching_df.drop('Unnamed: 0', axis=1, inplace=True)
game_df.drop('Unnamed: 0', axis=1, inplace=True)

## Batting Feature engineering ideas
- All of these stats will be on a PER PLATE APPEARANCE then divide by 162 to get PER GAME STATS
    - Team stats will be summed up and averaged - Will ultimately be compared to a teams 7 day trends history
        - 'totalBases' / total 'plateAppearances' - DONE
        - 'leftonbase'/ total 'plateAppearances' - DONE
        - 'runs' / total 'plateAppearances' - DONE
        - 'strikeOuts' / total 'atBats' - DONE
        - 'baseOnBalls' + 'intentionalWalks' / total 'plateAppearances' - DONE
            - 'hits' / total 'atBats' --- Leverage for game_df. get team stats per game...
            - 'obp' / # of batters on team --- Same as above
        - 'rbi' / total 'atBats' - DONE

In [5]:
batting_df.head()

,year,playerName,teamAbbrev,plateAppearances,totalBases,leftOnBase,runs,strikeOuts,baseOnBalls,intentionalWalks,hits,avg,atBats,obp,slg,ops,groundIntoDoublePlay,rbi
0,2009,Aaron Hill,TOR,734,340,286,103,98,42,1,195,0.286,682,0.330,0.499,0.829,17,108
1,2009,Jimmy Rollins,PHI,725,284,224,100,70,44,1,168,0.250,672,0.296,0.423,0.719,7,77
2,2009,Orlando Cabrera,MIN,708,255,244,83,71,36,1,186,0.284,656,0.316,0.389,0.705,22,77
3,2009,Nick Markakis,BAL,711,291,286,94,98,56,0,188,0.293,642,0.347,0.453,0.801,12,101
4,2009,Ichiro Suzuki,SEA,678,297,176,88,71,32,15,225,0.352,639,0.386,0.465,0.851,1,46

In [6]:
# MIA & FLO are different. Standardizing to MIA
batting_df.replace(to_replace='FLA', value='MIA', inplace=True)

In [7]:
# 31 teams showing up since it seems like there are some NaN values for team names. Will deal with should it become an issue...
len(batting_df.teamAbbrev.unique())

31

### Create New Features for TEAM stats

In [8]:
# THIS IS THE FRAMEWORK TO GENERATE TEAM STATISTICS...
# Creating a dataframe containing team annual Batting Averages
a = batting_df.groupby(['year', 'teamAbbrev'])['hits'].sum()
b = batting_df.groupby(['year', 'teamAbbrev'])['plateAppearances'].sum()
a = a.to_frame()
b = b.to_frame()
BA = a.join(b, on=['year', 'teamAbbrev'])
BA['team_BA'] = BA['hits']/BA['plateAppearances']
# BA = BA.reset_index()

In [9]:
# Total bases per plate appearance
# Commented out. Taking a different approach
# batting_df['Total_bases_per_plateappearance'] = (batting_df['totalBases'] / batting_df['plateAppearances'])

a = batting_df.groupby(['year', 'teamAbbrev'])['totalBases'].sum()
b = batting_df.groupby(['year', 'teamAbbrev'])['plateAppearances'].sum()
a = a.to_frame()
b = b.to_frame()
TB = a.join(b, on=['year', 'teamAbbrev'])
TB['total_bases_avg'] = TB['totalBases']/TB['plateAppearances']
# TB = TB.reset_index()

In [10]:
# LOB per plate appearnace
# Commented out. Taking a different approach
# batting_df['LOB_per_plateappearance'] = (batting_df['leftOnBase'] / batting_df['plateAppearances'])

a = batting_df.groupby(['year', 'teamAbbrev'])['leftOnBase'].sum()
b = batting_df.groupby(['year', 'teamAbbrev'])['plateAppearances'].sum()
a = a.to_frame()
b = b.to_frame()
LOB = a.join(b, on=['year', 'teamAbbrev'])
LOB['LOB_avg'] = LOB['leftOnBase']/LOB['plateAppearances']
# LOB = LOB.reset_index()

In [11]:
# Runs per plate appearance
# Commented out. Taking a different approach
#batting_df['runs_per_plateappearance'] = (batting_df['runs'] / batting_df['plateAppearances'])

a = batting_df.groupby(['year', 'teamAbbrev'])['runs'].sum()
b = batting_df.groupby(['year', 'teamAbbrev'])['plateAppearances'].sum()
a = a.to_frame()
b = b.to_frame()
RUNS = a.join(b, on=['year', 'teamAbbrev'])
RUNS['runs_avg'] = RUNS['runs']/RUNS['plateAppearances']
# RUNS = RUNS.reset_index()

In [12]:
# K's per AtBat
# Commented out. Taking a different approach
# batting_df['K_per_plateappearance'] = (batting_df['strikeOuts'] / batting_df['atBats'])

a = batting_df.groupby(['year', 'teamAbbrev'])['strikeOuts'].sum()
b = batting_df.groupby(['year', 'teamAbbrev'])['atBats'].sum()
a = a.to_frame()
b = b.to_frame()
K = a.join(b, on=['year', 'teamAbbrev'])
K['K_avg'] = K['strikeOuts']/K['atBats']
# K = K.reset_index()

In [13]:
# BB per plate appearance
# Commented out. Taking a different approach
# batting_df['BB+IBB_per_plateappearance'] = ((batting_df['baseOnBalls'] + 'took out IBB for simplicity' / batting_df['plateAppearances'])

a = batting_df.groupby(['year', 'teamAbbrev'])['baseOnBalls'].sum()
b = batting_df.groupby(['year', 'teamAbbrev'])['plateAppearances'].sum()
a = a.to_frame()
b = b.to_frame()
BB = a.join(b, on=['year', 'teamAbbrev'])
BB['BB_avg'] = BB['baseOnBalls']/BB['plateAppearances']
# BB = BB.reset_index()

In [14]:
# RBI per plate appearance
# Commented out. Taking a different approach
# batting_df['RBI_per_plateappearance'] = (batting_df['rbi'] / batting_df['atBats'])

a = batting_df.groupby(['year', 'teamAbbrev'])['rbi'].sum()
b = batting_df.groupby(['year', 'teamAbbrev'])['plateAppearances'].sum()
a = a.to_frame()
b = b.to_frame()
RBI = a.join(b, on=['year', 'teamAbbrev'])
RBI['RBI_avg'] = RBI['rbi']/RBI['plateAppearances']
# RBI = RBI.reset_index()

## Merge all the TEAM stats into one dataframe

In [15]:
LOB

                 leftOnBase  plateAppearances   LOB_avg
year teamAbbrev
2009 ARI               2225              5858  0.379822
     ATL               2432              6510  0.373579
     BAL               2132              5610  0.380036
     BOS               3223              8245  0.390904
     CHC               2458              6214  0.395558
...                     ...               ...       ...
2019 STL               2248              6105  0.368223
     TB                2580              6835  0.377469
     TEX               2107              5833  0.361221
     TOR               1964              5403  0.363502
     WSH               2498              6732  0.371064

[330 rows x 3 columns]

In [16]:
team_stats_lst = [BA, TB, LOB, RUNS, K, BB, RBI]

In [17]:
#team_stats = BA.merge(TB, on='year')

In [19]:
team_stats = pd.concat(team_stats_lst, join='outer', axis=1)

In [20]:
#team_stats = team_stats.merge(LOB, on='year')
#team_stats = team_stats.join(LOB, on='year')

In [21]:
#team_stats = team_stats.merge(RUNS, on='year')
#team_stats = team_stats.join(RUNS, on='year')

In [22]:
#team_stats = team_stats.merge(K, on='year')
#team_stats = team_stats.join(K, on='year')

In [23]:
#team_stats = team_stats.merge(BB, on='year')
#team_stats = team_stats.join(BB, on='year')

In [24]:
#team_stats = team_stats.merge(RBI, on='year')
#team_stats = team_stats.join(RBI, on='year')

In [26]:
team_stats = team_stats.reset_index()

In [27]:
team_stats

,year,teamAbbrev,hits,plateAppearances,team_BA,totalBases,plateAppearances,total_bases_avg,leftOnBase,plateAppearances,...,runs_avg,strikeOuts,atBats,K_avg,baseOnBalls,plateAppearances,BB_avg,rbi,plateAppearances,RBI_avg
0,2009,ARI,1310,5858,0.223626,2195,5858,0.374701,2225,5858,...,0.115910,1224,5182,0.236202,545,5858,0.093035,664,5858,0.113349
1,2009,ATL,1492,6510,0.229186,2336,6510,0.358833,2432,6510,...,0.119201,1137,5678,0.200247,637,6510,0.097849,723,6510,0.111060
2,2009,BAL,1367,5610,0.243672,2107,5610,0.375579,2132,5610,...,0.119964,913,5073,0.179972,449,5610,0.080036,628,5610,0.111943
3,2009,BOS,1915,8245,0.232262,3151,8245,0.382171,3223,8245,...,0.128199,1435,7202,0.199250,864,8245,0.104791,1036,8245,0.125652
4,2009,CHC,1392,6214,0.224010,2228,6214,0.358545,2458,6214,...,0.112971,1176,5459,0.215424,590,6214,0.094947,679,6214,0.109269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,2019,STL,1325,6105,0.217035,2243,6105,0.367404,2248,6105,...,0.124324,1406,5393,0.260708,555,6105,0.090909,707,6105,0.115807
326,2019,TB,1551,6835,0.226920,2625,6835,0.384053,2580,6835,...,0.122019,1587,6103,0.260036,601,6835,0.087930,788,6835,0.115289
327,2019,TEX,1298,5833,0.222527,2260,5833,0.387451,2107,5833,...,0.131150,1492,5216,0.286043,494,5833,0.084691,714,5833,0.122407
328,2019,TOR,1116,5403,0.206552,2049,5403,0.379234,1964,5403,...,0.119008,1381,4846,0.284977,475,5403,0.087914,622,5403,0.115121
329,2019,WSH,1553,6732,0.230689,2655,6732,0.394385,2498,6732,...,0.137552,1411,5921,0.238304,630,6732,0.093583,881,6732,0.130867

In [ ]:
# team_stats.to_csv("team_stats.csv")
# DONT SAVE... yet...

## Pitching Feature engineering ideas
- Pitching stats will focus on starting pitchers Per9 innings stat (except for certain features)
    - 'winningPercentage'
    - 'runsScoredPer9'
        - 'ops' - may leave out for now...
    - 'hitsPer9'
    - 'era'
    - 'whip'

In [ ]:
pitching_df.head()

In [ ]:
pitching_df = pitching_df.reindex(columns=['year', 'playerName', 'teamAbbrev', 'winningPercentage',
       'runsScoredPer9', 'hitsPer9', 'strikeoutsPer9', 'baseOnBallsPer9',
       'homeRunsPer9', 'era', 'whip', 'ops', 'gidp', 'avg'])
# Columns to be left out from the reindexing --- 'winPercentage', 'strikeoutsPer9Inn', 'walksPer9Inn', 'hitsPer9Inn'

In [ ]:
# MIA & FLO are different. Standardizing to MIA
pitching_df.replace(to_replace='FLA', value='MIA', inplace=True)

In [ ]:
# 31 teams showing up since it seems like there are some NaN values for team names. Will deal with should it become an issue...
len(pitching_df.teamAbbrev.unique())

## Game DF ideas
- Turn VisitorRunsScored & HomeRunsScore into a column that indicates if the home team won - DONE.
- Combine VisitorHBP & VisitorBB & VisitorIBB into a single column containing all the stats - DONE.
- Same with HomeHBP & HomeBB & HomeIBB - DONE.
<br/><br/>
- Combine VisitorH / VisitorAB = team_BA - DONE.
- Same with HomeH / HomeAB - DONE. 
<br/><br/>
- Eventually add on all the other engineered features into this dataframe...
<br/><br/>
- Since the game_df has a date column, I'd like to leverage that to look at 7-day-trends, 14-day-trends, etc

In [ ]:
game_df

In [ ]:
# Creating a Target for the model to eventually train on
game_df['Home_team_won?'] = game_df['HomeRunsScore'] > game_df['VisitorRunsScored']

In [ ]:
# game_df['Visitor_HBP+BB+IBB'] = game_df['VisitorHBP'] + game_df['VisitorBB'] + game_df['VisitorIBB']
# game_df['Home_HBP+BB+IBB'] = game_df['HomeHBP'] + game_df['HomeBB'] + game_df['HomeIBB']

# Commenting out for now until I figure out if I need to drop these or not...
# game_df.drop(['VisitorHBP', 'VisitorBB', 'VisitorIBB', 'HomeHBP', 'HomeBB', 'HomeIBB'], axis=1, inplace=True)

In [ ]:
# Adding a Home & Away BA per game to compare batting trends over time
game_df['Visitor_BA'] = round((game_df['VisitorH'] / game_df['VisitorAB']), 3)
game_df['Home_BA'] = round((game_df['HomeH'] / game_df['HomeAB']), 3)

In [ ]:
# Creating a new column in order to add Date/Time to my dataframe
game_df['New_Date'] = pd.to_datetime(game_df['Date'].astype(str), format='%Y%m%d')

In [ ]:
# Rearranging columns so new date/time is at the front of the DF
game_df = game_df.reindex(columns=['New_Date','Date', 'VisitingTeam','VisitorStartingPitcherName',
                                 'HomeTeam','HomeStartingPitcherName', 'VisitorRunsScored',
       'HomeRunsScore', 'VisitorAB', 'VisitorH','Visitor_BA', 'VisitorHBP', 'VisitorBB',
       'VisitorIBB', 'VisitorLOB', 'HomeAB', 'HomeH', 'Home_BA', 'HomeHBP', 'HomeBB', 'HomeIBB', 'HomeLOB', 'Home_team_won?'])
game_df.drop('Date', axis='columns', inplace=True)

In [ ]:
# Had an extra team due to the Marlins having two different labels. Updating their team name to MIA
game_df.replace(to_replace='FLO', value='MIA', inplace=True)
# Updating game_df so team abbreviations match. Will be leveraged when aggregating teams stats
game_df.replace(to_replace={"NYA":"NYY", "SDN":"SD", "CHN":"CHC", "SLN":"STL", "SFN":"SF", "LAN":"LAD", "TBA":"TB", "KCA":"KC", "CHA":"CWS", "ANA":"LAA", "NYN":"NYM"}, inplace=True)

In [ ]:
# game_df has 30 teams. Perfect!
len(game_df.VisitingTeam.unique())