## Statscast Stats

In [1]:
from baseball_scraper import statcast

In [2]:
data = statcast(start_dt='2017-06-24', end_dt='2017-06-27')

In [4]:
data.head(2)

,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,317,CU,2017-06-27,79.7,-1.3441,5.4075,Matt Bush,608070.0,456713.0,field_out,...,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,Standard,Strategic
1,326,FF,2017-06-27,98.1,-1.3547,5.4196,Matt Bush,429665.0,456713.0,field_out,...,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,Standard,Strategic

In [5]:
from baseball_scraper import playerid_lookup
from baseball_scraper import statcast_pitcher

In [6]:
playerid_lookup('kershaw', 'clayton')

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,kershaw,clayton,477132,kersc001,kershcl01,2036,2008.0,2019.0

In [7]:
kershaw_stats = statcast_pitcher('2017-06-01', '2017-07-01', 477132)

Gathering Player Data

In [8]:
kershaw_stats.head(2)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,SL,2017-06-29,87.2,1.0847,6.4020,Clayton Kershaw,458913,477132,strikeout,swinging_strike_blocked,...,1,6,1,6,6,1,1,6,Standard,Standard
1,SL,2017-06-29,86.9,1.0178,6.4313,Clayton Kershaw,458913,477132,NaN,ball,...,1,6,1,6,6,1,1,6,Standard,Standard

## Pitching Stats
### Pitching stats doesn't seem to be working...

In [10]:
from baseball_scraper import pitching_stats

In [14]:
# data = pitching_stats(2010, 2012)

## Batting Stats
### Batting stats doesn't seem to be working either...

In [15]:
from baseball_scraper import batting_stats_range

In [18]:
# data = batting_stats_range('2017-05-01', '2017-06-01')

## Game-by-Game Results and Schedule

In [19]:
from baseball_scraper import baseball_reference

In [21]:
s = baseball_reference.TeamScraper()
s.set_season(2010)
data = s.scrape('SFG')
data

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
1,2010-04-05,SFG,@,HOU,W,5.0,2.0,9.0,1-0,1.0,Tied,Lincecum,Oswalt,Wilson,2:34,N,43836.0,1,None
2,2010-04-06,SFG,@,HOU,W,3.0,0.0,9.0,2-0,1.0,up 1.0,Zito,Rodriguez,Wilson,2:38,N,24237.0,2,None
3,2010-04-07,SFG,@,HOU,W,10.0,4.0,9.0,3-0,1.0,up 1.0,Affeldt,Gervacio,None,3:01,D,21599.0,3,None
4,2010-04-09,SFG,Home,ATL,W-wo,5.0,4.0,13.0,4-0,1.0,up 1.0,Affeldt,Medlen,None,4:01,D,42940.0,4,None
5,2010-04-10,SFG,Home,ATL,L,2.0,7.0,9.0,4-1,1.0,up 1.0,Lowe,Wellemeyer,None,3:06,N,42985.0,-1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,2010-09-29,SFG,Home,ARI,W,3.0,1.0,9.0,90-68,1.0,up 2.0,Lincecum,Kennedy,Wilson,2:34,N,38228.0,3,None
159,2010-09-30,SFG,Home,ARI,W,4.0,1.0,9.0,91-68,1.0,up 3.0,Bumgarner,Enright,Ramirez,2:26,D,37261.0,4,None
160,2010-10-01,SFG,Home,SDP,L,4.0,6.0,9.0,91-69,1.0,up 2.0,Richard,Cain,Bell,3:14,N,42409.0,-1,None
161,2010-10-02,SFG,Home,SDP,L,2.0,4.0,9.0,91-70,1.0,up 1.0,Stauffer,Zito,Bell,2:44,D,42653.0,-2,None
162,2010-10-03,SFG,Home,SDP,W,3.0,0.0,9.0,92-70,1.0,up 2.0,Sanchez,Latos,Wilson,3:05,D,42822.0,1,None