In [1]:
import pandas as pd
import requests
import time

In [2]:
def scrape_batting_data(start_year, end_year, num_of_players):
    '''
    webscrap MLB.com for batting statistics
    '''
    batting_url = 'https://bdfed.stitch.mlbinfra.com/bdfed/stats/player?stitch_env=prod&season={}&sportId=1&stats=season&group=hitting&gameType=R&limit={}&offset=0&sortStat=atBats&order=desc&playerPool=ALL'
    data = []
    for year in range(start_year, end_year+1):
        time.sleep(5)
        request = requests.get(batting_url.format(year, num_of_players))
        new_data = request.json()['stats']
        data += new_data
    return data

In [3]:
data = scrape_batting_data(2009, 2019, 4000)

In [4]:
batting_df = pd.DataFrame(data)
batting_df

,year,playerId,playerName,type,rank,playerFullName,playerFirstName,playerLastName,playerUseName,playerInitLastName,...,obp,slg,ops,caughtStealing,stolenBases,stolenBasePercentage,groundIntoDoublePlay,rbi,groundOutsToAirouts,atBatsPerHomeRun
0,2009,431094,Aaron Hill,player,1,Aaron Hill,Aaron,Hill,Aaron,A Hill,...,.330,.499,.829,2,6,.750,17,108,0.94,18.94
1,2009,276519,Jimmy Rollins,player,2,Jimmy Rollins,James,Rollins,Jimmy,J Rollins,...,.296,.423,.719,8,31,.795,7,77,0.82,32.00
2,2009,111851,Orlando Cabrera,player,3,Orlando Cabrera,Orlando,Cabrera,Orlando,O Cabrera,...,.316,.389,.705,4,13,.765,22,77,1.13,72.89
3,2009,455976,Nick Markakis,player,4,Nick Markakis,Nicholas,Markakis,Nick,N Markakis,...,.347,.453,.801,2,6,.750,12,101,0.94,35.67
4,2009,400085,Ichiro Suzuki,player,5,Ichiro Suzuki,Ichiro,Suzuki,Ichiro,I Suzuki,...,.386,.465,.851,9,26,.743,1,46,1.48,58.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13366,2019,489446,Kirby Yates,player,984,Kirby Yates,Kirby,Yates,Kirby,K Yates,...,.000,.000,.000,0,0,.---,0,0,-.--,-.--
13367,2019,593679,Gabriel Ynoa,player,984,Gabriel Ynoa,Gabriel,Ynoa,Gabriel,G Ynoa,...,.000,.000,.000,0,0,.---,0,0,-.--,-.--
13368,2019,660623,Huascar Ynoa,player,984,Huascar Ynoa,Huascar,Ynoa,Huascar,H Ynoa,...,.000,.000,.000,0,0,.---,0,0,-.--,-.--
13369,2019,623354,Daniel Zamora,player,984,Daniel Zamora,Daniel,Zamora,Daniel,D Zamora,...,.000,.000,.000,0,0,.---,0,0,-.--,-.--
13370,2019,622092,Kyle Zimmer,player,984,Kyle Zimmer,Kyle,Zimmer,Kyle,K Zimmer,...,.000,.000,.000,0,0,.---,0,0,-.--,-.--

In [5]:
# UNCOMMENT THIS ONCE SCRAPER WORKS PROPERLY!!!
batting_df.to_csv("MLB_batting_stats_ALL_BATTING.csv")

In [6]:
def scrape_pitching_data(start_year, end_year, num_of_players):
    '''
    webscrap MLB.com for batting statistics
    '''
    pitching_url = 'https://bdfed.stitch.mlbinfra.com/bdfed/stats/player?stitch_env=prod&season={}&sportId=1&stats=season&group=pitching&gameType=R&limit={}&offset=0&sortStat=earnedRunAverage&order=asc&playerPool=ALL'
    data = []
    for year in range(start_year, end_year+1):
        time.sleep(5)
        request = requests.get(pitching_url.format(year, num_of_players))
        new_data = request.json()["stats"]
        data += new_data
    return data

In [7]:
data2 = scrape_pitching_data(2009, 2019, 3000)

In [8]:
pitching_df = pd.DataFrame(data2)

In [9]:
pitching_df

,year,playerId,playerName,type,rank,playerFullName,playerFirstName,playerLastName,playerUseName,playerInitLastName,...,hitBatsmen,totalBases,groundOutsToAirouts,winPercentage,strikeoutWalkRatio,strikeoutsPer9Inn,walksPer9Inn,hitsPer9Inn,sacBunts,sacFlies
0,2009,444440,Nick Adenhart,player,1,Nick Adenhart,Nicholas,Adenhart,Nick,N Adenhart,...,0,7,1.17,.---,1.67,7.50,4.50,10.50,0,0
1,2009,444444,Mitch Atkins,player,1,Mitch Atkins,Mitchell,Atkins,Mitch,M Atkins,...,0,1,1.33,.---,0.00,0.00,0.00,4.50,0,0
2,2009,457117,Ernesto Frieri,player,1,Ernesto Frieri,Ernesto,Frieri,Ernesto,E Frieri,...,0,0,0.00,.---,2.00,9.00,4.50,0.00,0,0
3,2009,340393,Ross Gload,player,1,Ross Gload,Ross,Gload,Ross,R Gload,...,0,0,3.00,.---,0.00,0.00,18.00,0.00,0,0
4,2009,407797,Nick Green,player,1,Nick Green,Nicholas,Green,Nick,N Green,...,0,0,1.00,.---,0.00,0.00,13.50,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7853,2019,500610,Deolis Guerra,player,826,Deolis Guerra,Deolis,Guerra,Deolis,D Guerra,...,0,7,0.00,.---,0.00,0.00,0.00,54.00,0,1
7854,2019,621368,Taylor Hearn,player,828,Taylor Hearn,Taylor,Hearn,Taylor,T Hearn,...,0,4,0.00,.000,0.00,0.00,108.00,81.00,0,0
7855,2019,657117,Austen Williams,player,829,Austen Williams,Austen,Williams,Austen,A Williams,...,0,13,-.--,.---,1.00,27.00,27.00,135.00,0,0
7856,2019,467827,Gerardo Parra,player,830,Gerardo Parra,Gerardo,Parra,Gerardo,G Parra,...,0,1,-.--,.---,0.00,-.--,-.--,-.--,0,0
7857,2019,607755,Andrew Vasquez,player,830,Andrew Vasquez,Andrew,Vasquez,Andrew,A Vasquez,...,1,0,-.--,.---,0.00,-.--,-.--,-.--,0,0

In [10]:
# UNCOMMENT THIS ONCE SCRAPER WORKS PROPERLY!!!
pitching_df.to_csv("MLB_pitching_stats_ALL_PITCHING.csv")